*{
    margin: 0;
    padding: 0;
}
.home{
    margin-top: 20px;
    margin-right: 50px;
    height:  100px;
}
.body{
    display: flex;
}
.body .body-left{
    margin: 100px;
}
.menu{
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.footer{
    height: 200px;
    padding-top: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}
.footer .list{
   
display:flex ;
    
}
.footer .list ul{
    list-style-type: none;
}